.container1{
    /* padding-top: 125px; */
    
   /* display:grid; */
    width:fit-content;
    background-color: burlywood;
    border-radius: 10px 10px 10px;

}
.header{
    padding-top: 125px;
}
.nav{
    background-color: turquoise;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left1 {
    left: 0;
    /* background-color: burlywood; */
    color:white;
    background-image: url("D:\ReactApp\CP-Projects\furniturestore\src\background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Control the right side */
  .right1 {
    right: 0;
    background-color:whitesmoke;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  .col{
    color: white;
    font-size: large;
  }
 