.contact{
    width:70rem;
    padding-top: 5%;
    padding-bottom: 1rem;
    padding-left: 10%;
}
.abt{
    font-size: 2.5rem;
    font-family: Verdana, sans-serif;
    padding-bottom: 1rem;
}